<h1>Información sobre el Autor <%= encabezado %></h1>
<p style="margin: 20px auto;">Autor: Jorge Carbajo.<br/>
</p>
<p style="margin: 20px;"><img src="/images/roto.jpg" width="200" float="left"/></p>

